version: '3.9'
services:
  api-prospira-info:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MAIN_PKG: .           
    image: api-prospira-info:latest
    volumes:
      - prospira-info-volume:/app/uploads
    env_file:
      - .env    
    restart: always   
    environment:
      - SQLSERVER_USER=${SQLSERVER_USER}
      - SQLSERVER_PASSWORD=${SQLSERVER_PASSWORD}
      - SQLSERVER_DB=${SQLSERVER_DB}
      - SQLSERVER_HOST=${SQLSERVER_HOST}
      - SQLSERVER_PORT=${SQLSERVER_PORT}

      - SERVER_PORT=${SERVER_PORT}
      - TOKEN_SECRET_KEY=${TOKEN_SECRET_KEY}
      
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SET_FROM=${SMTP_SET_FROM}
      - PORT=${PORT}
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://127.0.0.1:${PORT}/healthz || exit 1"]
      interval: 30s
      timeout: 3s
      retries: 3
    networks : 
      - prospira-info-network
  nginx-external-site:
    image: nginx:latest
    volumes:
      - ./conf.d:/etc/nginx/conf.d
    depends_on:
      - api-prospira-info
    ports:
      - "5678:5678"
    restart: always
    networks:
      - prospira-info-network

volumes:
  prospira-info-volume:
    driver: local
networks:
  prospira-info-network:
    driver: bridge